body{
   text-align: center;
    background-image: linear-gradient(pink,lavender,skyblue);
}
#one,#two,#third,#fourth,#fifth,#sixth{
    height:300px;
    width: 300px;
}
.first{
    width: 500px;   
}
#myCarousel img{
    width: 500px;
    margin-top: 35px;
       }

.carousel-inner {
    margin-bottom: 15px;
    margin-top: 15px;
    color : white;
}
img {
    height :300px;
    width :350px;
}
.item {
    padding-top: 100px;
}
p{
  font-family:salmon;
  font-size:30px;
}
 <p>Click on the image below to view more images of Potrait drawing</p>
        <a href="https://www.bing.com/images/search?q=Potrait%20drawings%20%20%20hyperrealistic&qs=n&form=QBIR&sp=-1&pq=potrait%20drawings%20hyperrealistic&sc=0-31&cvid=987C49F3A5AA4004872CC7675B43F55B&first=1&tsc=ImageBasicHover" target="_blank">
   
    
    
